In [23]:
import pandas as pd 
from sklearn.tree import DecisionTreeClassifier
from sklearn import tree 


ks_data = pd.read_csv('ks-projects-201801.csv')
df = pd.DataFrame(ks_data)

In [24]:
df.head()

,ID,name,category,main_category,currency,deadline,goal,launched,pledged,state,backers,country,usd pledged,usd_pledged_real,usd_goal_real
0,1000002330,The Songs of Adelaide & Abullah,Poetry,Publishing,GBP,2015-10-09,1000.0,2015-08-11 12:12:28,0.0,failed,0,GB,0.0,0.0,1533.95
1,1000003930,Greeting From Earth: ZGAC Arts Capsule For ET,Narrative Film,Film & Video,USD,2017-11-01,30000.0,2017-09-02 04:43:57,2421.0,failed,15,US,100.0,2421.0,30000.00
2,1000004038,Where is Hank?,Narrative Film,Film & Video,USD,2013-02-26,45000.0,2013-01-12 00:20:50,220.0,failed,3,US,220.0,220.0,45000.00
3,1000007540,ToshiCapital Rekordz Needs Help to Complete Album,Music,Music,USD,2012-04-16,5000.0,2012-03-17 03:24:11,1.0,failed,1,US,1.0,1.0,5000.00
4,1000011046,Community Film Project: The Art of Neighborhoo...,Film & Video,Film & Video,USD,2015-08-29,19500.0,2015-07-04 08:35:03,1283.0,canceled,14,US,1283.0,1283.0,19500.00

In [25]:
ks_data.shape

(378661, 15)

In [36]:
inputs = df.drop(columns=['name','category','currency','deadline','launched','country','usd_pledged_real','usd_goal_real'])
target = df['state']

In [37]:
from sklearn.preprocessing import LabelEncoder

In [38]:
le_state = LabelEncoder()
le_category = LabelEncoder()

In [39]:
inputs['state_n'] = le_state.fit_transform(inputs['state'])
inputs['maincat_n'] = le_category.fit_transform(inputs['main_category'])
inputs.head()

,ID,main_category,goal,pledged,state,backers,usd pledged,state_n,maincat_n
0,1000002330,Publishing,1000.0,0.0,failed,0,0.0,1,12
1,1000003930,Film & Video,30000.0,2421.0,failed,15,100.0,1,6
2,1000004038,Film & Video,45000.0,220.0,failed,3,220.0,1,6
3,1000007540,Music,5000.0,1.0,failed,1,1.0,1,10
4,1000011046,Film & Video,19500.0,1283.0,canceled,14,1283.0,0,6

In [48]:
inputs_n = inputs.drop(columns=['ID','main_category','state','usd pledged'])
target_n = inputs['state_n']
inputs_n

           goal  pledged  backers  state_n  maincat_n
0        1000.0      0.0        0        1         12
1       30000.0   2421.0       15        1          6
2       45000.0    220.0        3        1          6
3        5000.0      1.0        1        1         10
4       19500.0   1283.0       14        0          6
...         ...      ...      ...      ...        ...
378656  50000.0     25.0        1        0          6
378657   1500.0    155.0        5        1          6
378658  15000.0     20.0        1        1          6
378659  15000.0    200.0        6        1         13
378660   2000.0    524.0       17        1          0

[378661 rows x 5 columns]

In [49]:
from sklearn import tree

In [50]:
model = tree.DecisionTreeClassifier()

In [51]:
model.fit(inputs_n,target_n)

DecisionTreeClassifier()

In [52]:
model.score(inputs_n,target_n)

1.0

In [56]:
model.predict(([1000,0,40])

SyntaxError: unexpected EOF while parsing (<ipython-input-56-0931fde957a0>, line 1)